@import "./defaults";
@import "./animations";

// Latest Bar

.section-header {
  font-size: 21px;
  font-family: $poppins;
  font-style: italic;
  font-weight: 600;
  margin: 20px 0 10px 5px;
  padding-left: 8px;
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    background-color: $l-sec;
    left: -5px;
  }
}

.main-ctn {
  margin: 0 auto;
  width: 1200px;
}

.latest-content {
  width: 100%;
  height: 400px;
  position: relative;
  display: grid;
  grid-template:
    "a a b d" auto
    "a a c d" auto / 4fr 4fr 4fr 3fr;
  grid-gap: 30px;

  margin-bottom: 30px;
  padding-bottom: 30px;

  .data {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: calc(100% - 20px);
    .tagname {
      width: max-content;
      padding: 4px 10px;
      background-color: white;
      color: $m-main;
      font-family: $poppins;
      font-size: 12px;
      font-style: italic;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      border-radius: 2px;
      margin-bottom: 4px;
    }

    .post-name {
      color: white;
      font-family: $poppins;
      font-size: 16px;
      font-weight: 600;
    }
  }

  .post {
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    position: relative;
    cursor: pointer;
    &:hover {
      transform: scale(0.98);
    }

    .thumb {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    &:nth-of-type(1) {
      grid-area: a;
      .thumb {
        background-image: url(../assets/bgs/nikola-majksner-hXNGeAFOgT4-unsplash.jpg);
      }

      .data {
        left: 20px;
        .post-name {
          font-size: 20px;
        }
      }
    }
    &:nth-of-type(2) {
      grid-area: b;
      .thumb {
        background-image: url(../assets/bgs/niko-photos-tGTVxeOr_Rs-unsplash.jpg);
      }
    }
    &:nth-of-type(3) {
      grid-area: c;
      .thumb {
        background-image: url(../assets/bgs/elena-prokofyeva-NDuPLKYRXQU-unsplash.jpg);
      }
    }

    .overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      background-image: linear-gradient(
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.65) 100%
      );
    }
  }

  .donation-box {
    width: 222px;
    height: 370px;
    border-radius: 8px;
    grid-area: d;
    background-color: $l-bg;
    border: 3px dashed $contrast;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: calc((50% - 600px));

    .donation-cta,
    .donation-btn,
    .donation-amount {
      height: 27%;
      width: 85%;
      background-color: white;
      border-radius: 4px;
      padding: 10px;
      @include flex-all-center;
      font-size: 16px;
      font-family: $poppins;
      font-weight: bold;
      text-align: center;
    }

    .donation-cta {
      font-size: 20px;
      text-transform: uppercase;
    }

    .donation-btn {
      .donate {
        width: 85%;
        height: 65%;
        border-radius: 4px;
        border: 2px solid $m-sec;
        background-image: linear-gradient($l-sec 0%, $m-sec 50%, $l-sec 100%);
        font-family: $patua;
        font-size: 16px;
        color: white;
        cursor: pointer;
        transition: all 0.1s linear;
        &:focus {
          outline: none;
        }
        &:hover {
          transform: scale(0.95);
          background-image: none;
          background-color: $contrast;
          color: $d-main;
          border: 2px solid $contrast;
        }
      }
    }

    .donation-amount span {
      font-size: 20px;
      color: $m-sec;
    }
  }

  .donation-absolute {
    position: absolute;
    top: 872px;
    right: auto;
  }
}

// Popular Bar

.popular-content {
  width: 100%;
  display: grid;
  grid-template:
    "a a b ." 370px
    "a a c ." 370px
    "a a . ." minmax(0px, auto) / 4fr 4fr 4fr 3fr;
  grid-gap: 30px;

  margin-bottom: 30px;
  padding-bottom: 30px;

  main {
    grid-area: a;
    display: flex;
    flex-direction: column;
    align-items: center;

    .p-post {
      width: 100%;
      height: 170px;
      border-radius: 8px;
      background-image: linear-gradient(
        90deg,
        rgb(255, 255, 255),
        rgb(238, 238, 238)
      );
      display: flex;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      cursor: pointer;
      transition: transform 0.2s ease-in-out;
      &:hover {
        transform: scale(0.98);
      }

      .p-data {
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .p-thumb {
        height: 100%;
        min-width: calc(50% - 15px);
        border-radius: 8px;
        background-size: cover;
      }

      .thm-1 {
        background-image: url(../assets/bgs/boxed-water-is-better-6aZp4_KfXT8-unsplash.jpg);
      }

      .thm-2 {
        background-image: url(../assets/bgs/montylov-ktZZiHb-GoI-unsplash.jpg);
      }

      .thm-3 {
        background-image: url(../assets/bgs/chang-qing-2YQoKbyGvDc-unsplash.jpg);
      }

      .thm-4 {
        background-image: url(../assets/bgs/rohan-aggarwal-ghE3lROlYSw-unsplash.jpg);
      }

      .p-post-name {
        color: $m-main;
        font-family: $poppins;
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 12px;
      }

      .p-date {
        font-family: $patua;
        font-size: 14px;
        color: rgb(139, 139, 139);
        margin-bottom: 5px;
      }

      .p-tagname {
        font-family: $poppins;
        font-style: italic;
        font-weight: 500;
        width: max-content;
        padding: 2px 6px;
        font-size: 12px;
        background-color: rgb(119, 119, 119);
        color: white;
      }

      .interactions {
        flex: 1;
        display: flex;
        width: 60%;
        justify-content: space-between;
        align-items: flex-end;
        font-family: $patua;
        color: $d-bg;
        font-size: 14px;
      }
    }

    .see-more {
      width: 100px;
      height: 30px;
      border-radius: 2px;
      margin: 0 auto;
      border: none;
      color: white;
      font-family: $poppins;
      font-weight: 600;
      font-size: 13px;
      background-color: $l-sec;
      cursor: pointer;
      &:hover {
        background-color: $contrast;
        transform: scale(0.95);
        color: $m-main;
      }
      &:focus {
        outline: none;
      }
    }
  }

  .spotlight-1 {
    grid-area: b;
    border-radius: 8px;
    background-color: purple;
  }

  .spotlight-2 {
    grid-area: c;
    border-radius: 8px;
    background-color: peru;
  }

  .spotlight-1,
  .spotlight-2 {
    position: relative;
    overflow: hidden;

    .item {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background-size: cover;
    }

    .active {
      z-index: 3;
    }

    .going {
      animation: to-the-left 0.5s linear forwards;
    }

    .coming {
      z-index: 5;
      animation: from-the-right 0.5s linear forwards;
    }
  }
}

// Stay Updated

.updated-content {
  display: grid;
  grid-template: "a a . ." 120px / 4fr 4fr 4fr 3fr;
  grid-gap: 30px;
  margin-bottom: 60px;

  .cta-box {
    grid-area: a;
    position: relative;
    display: flex;
    border-radius: 4px;
    background-color: #f7f7f7;
    padding: 20px;
    font-family: $poppins;
    font-size: 13px;

    .email-input {
      flex: 3;
      height: 30px;
      border: solid 1px rgba(#707070, 0.2);
      border-radius: 2px;
      padding: 0 10px;

      &:focus {
        outline: none;
      }
    }

    .email-btn {
      flex: 2;
      height: 30px;
      border: 1px solid $m-sec;
      background-color: $l-sec;
      font-weight: 600;
      color: white;
      margin-left: 10px;
      border-radius: 2px;
      cursor: pointer;

      &:focus {
        outline: none;
      }
    }

    .removal-mode {
      background-color: rgb(206, 45, 45);
      border-color: rgb(143, 35, 35);
    }

    .email-removal {
      position: absolute;
      bottom: 10px;
      color: $l-sec;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) and (min-width: 1100px) {
  .main-ctn {
    width: 90%;
  }

  .latest-content .donation-box {
    right: 5%;
    width: calc(18vw - 18px);
  }

  .latest-content .donation-absolute {
    position: absolute;
    top: 872px;
    right: 0;
  }
}

@media (max-width: 1099px) {
  .main-ctn {
    width: 768px;
  }

  .latest-content {
    grid-template:
      "a d" 1fr
      "b c" 1fr / 1fr 1fr;
    height: 480px;

    .donation-box {
      position: static;
      width: auto;
      padding: 10px;
      height: 100%;
      .donation-amount {
        display: none;
      }

      .donation-cta,
      .donation-btn {
        width: 100%;
        height: 100%;
      }

      .donation-cta {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      .donation-btn {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        align-items: flex-start;
      }
    }

    .post:nth-of-type(1) .data {
      left: 10px;
      .post-name {
        font-size: 16px;
      }
    }
  }

  .popular-content {
    main .p-post {
      height: 225px;
    }
    display: block;

    main .p-date {
      margin-top: 30px;
    }

    .spotlight-1,
    .spotlight-2 {
      display: none;
    }
  }

  .updated-content {
    display: block;

    .cta-box {
      height: 120px;
    }
  }
}

@media (max-width: 818px) {
  .main-ctn {
    width: 90%;
  }

  .latest-content {
    grid-template:
      "a a" 51vw
      "b c" auto / 1fr 1fr;
    position: relative;
    height: auto;
    border-bottom: 1px solid rgba($d-main, 0.5);

    .post {
      &:nth-of-type(2),
      &:nth-of-type(3) {
        position: relative;
        height: auto;
        .thumb {
          height: 29vw;
          border-radius: 8px;
          overflow: hidden;
          .overlay {
            height: 29vw;
          }
        }
        .data {
          position: relative;
          .post-name {
            color: $m-main;
            margin-top: 20px;
          }
          .tagname {
            position: absolute;
            bottom: calc(100% + 20px);
          }
        }
      }
    }

    .donation-box {
      padding: 0;
      background-color: transparent;
      width: auto;
      height: auto;
      position: absolute;
      top: -50px;
      right: 0;
      border: none;
      z-index: 667;

      .donation-cta,
      .donation-amount {
        display: none;
      }

      .donation-btn {
        display: block;
        height: auto;
        width: auto;
        padding: 0;
        background-color: transparent;
        .donate {
          width: 100px;
          height: 40px;
          font-size: 14px;
        }
      }
    }
  }

  .popular-content {
    border-bottom: 1px solid rgba($d-main, 0.5);
    main {
      .p-post {
        position: relative;
        height: 29vw;
        width: 100%;
        display: grid;
        grid-template: "a b" 100% / 1fr 1fr;

        .p-post-name {
          font-size: 14px;
        }

        .p-date {
          position: absolute;
          margin-top: 0px;
          top: 10px;
          left: calc(-100% + 10px);
          color: $m-main;
          background-color: white;
          padding: 2px 6px;
        }

        .p-tagname {
          position: absolute;
          margin: 0px;
          bottom: 10px;
          left: calc(-100% + 10px);
          color: $m-main;
          background-color: white;
          padding: 2px 6px;
        }

        .interactions {
          width: 100%;
          justify-content: space-around;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .updated-content .cta-box {
    flex-direction: column;
    height: 160px;
    .email-input,
    .email-btn {
      max-height: 30px;
      width: 100%;
      margin: 0 0 10px;
      text-align: center;
    }

    .email-removal {
      left: 50%;
      transform: translate(-50%);
    }
  }
}

@media (max-width: 400px) {
  .section-header {
    font-size: 18px;
  }
  .latest-content {
    .post {
      .data .post-name {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 370px) {
  .popular-content {
    main .p-post .p-data {
      .p-post-name {
        font-size: 11px;
      }
      .interactions {
        font-size: 10px;
      }
    }
  }
}
