<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left info">
                <p>@User.Identity.Name</p>
            </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dollar"></i>
                    <span>Donation</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Donation/AdminIndex"><i class="fa fa-circle-"></i> All Donations</a></li>
                    <li><a href="/DonationCategory/Index"><i class="fa fa-circle-"></i> Donations Categories</a></li>
                    <li><a href="/Donation/Add"><i class="fa fa-circle-"></i> New Donation</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-photo"></i>
                    <span>Gallery</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Gallery/AdminIndex"><i class="fa fa-circle-"></i> All Galleries</a></li>
                    <li><a href="/Gallery/Add"><i class="fa fa-circle-"></i> New Gallery</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-tags"></i>
                    <span>Content Management</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Category"><i class="fa fa-circle-"></i> Categories</a></li>
                    <li><a href="/Tag"><i class="fa fa-circle-"></i> Tags </a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-history"></i>
                    <span>History Posts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/History/AdminIndex"><i class="fa fa-circle-"></i> All History Posts</a></li>
                    <li><a href="/History/Add"><i class="fa fa-circle-"></i> New History Post</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-hacker-news"></i>
                    <span>News</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/News/AdminIndex"><i class="fa fa-circle-"></i> All News Posts</a></li>
                    <li><a href="/News/Add"><i class="fa fa-circle-"></i> New News Post</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span>Celebrity Posts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Celebrity/AdminIndex"><i class="fa fa-circle-"></i> All Celebrity Posts</a></li>
                    <li><a href="/Celebrity/Add"><i class="fa fa-circle-"></i> New Celebrity Post</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span>Monument Posts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Monument/AdminIndex"><i class="fa fa-circle-"></i> All Monument Posts</a></li>
                    <li><a href="/Monument/Add"><i class="fa fa-circle-"></i> New Monument Post</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <span>Cultural Heritage Posts</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/CulturalHeritage/AdminIndex"><i class="fa fa-circle-"></i> All Cultural Heritage Posts</a></li>
                    <li><a href="/CulturalHeritage/Add"><i class="fa fa-circle-"></i> New Cultural Heritage Post</a></li>
                </ul>
            </li>
            @*<li>
                <a href="documentation/index.html">
                    <i class="fa fa-book"></i> Documentation
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>